/* Add your custom CSS styling here */


/* Page styling */
.content {
    float: left;
    position: relative;
}

.explanation {
    margin: 20px auto 0;
    position: relative;
    width: 60%;
}

.checkout-container {
    float: left;
    margin: 0 auto;
    position: relative;
    width: 100%;
}

.checkout {
    margin: 0 auto;
    position: relative;
    width: 60%;
}